@charset "utf-8";
/* CSS Document */
p {
	color: green;
	font-family: Constantia, "Lucida Bright", "DejaVu serif", Georgia, "serif";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: antiquewhite;
	padding: 20px;
}
.paragraf2 {color: darkcyan;background-color: rgba(255, 255, 255, 0.5);}
.noviblok {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px;
	margin: 20px;
	width: 50%;
}
h2, h1 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: cadetblue;
}

span {color: rgb(255, 0, 0);}
.pozadina {
	background-image: url("dokumenti/drvo.jpg");
}
.drugapozadina {
	background-color: aquamarine;
}
a:link {
	color: black;
	background-color: white;
	padding: 5px;
	line-height: 40px;
	border: 1px solid #000000;
}
a:hover {
	background-color: darkgrey;
}
img {
	height: 300px;
}